
body {
    text-align: center;
    background-color: rgb(33, 184, 184);
    margin: 20px 20%;
}
 p {
    font-family: sans-serif;
    color: rgb(215, 18, 18);
}
    .brown
    {
        color:rgb(231, 213, 14);
    }